<div style = "display:flex;width:100%;">
  <h1 style = "margin:0px;width:75%;">Github_Auth</h1>
  <div style = "display: flex;width:25%;">
    <% if user_signed_in? %>
     <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <a href = "/users/<%= current_user.id%>">Mypage</a>
    <% else %>
      <a href = "/users/sign_in">Login</a> 
      <a href = "/users/sign_up">Sign Up</a> 
    <% end %>
  </div>
</div>
<div>
 <div>
   <% if user_signed_in?%>
     <form action = "/tweets" method = "post">
       <input type = "hidden" name = "user_id" value = "<%= current_user.id%>"></input>
       <input type = "text" name = "text"></input>
       <input type = "submit" value = "投稿"></input>
     </form>
   <% else %>
     <h2>サインアップ・ログインをしよう</h2>
   <% end %>
 </div>
 <div>
   <% @tweets.each do |tweet|%>
     <p><%= tweet.text%></p>
   <% end %>
 </div>
</div>
